POSTGRES_USER — имя пользователя БД (необязательная переменная, значение по умолчанию — postgres);
POSTGRES_PASSWORD — пароль пользователя БД (обязательная переменная для создания БД в контейнере);
POSTGRES_DB — название базы данных (необязательная переменная, по умолчанию совпадает с POSTGRES_USER).
DB_HOST — адрес, по которому Django будет соединяться с базой данных. При работе нескольких контейнеров в сети Docker network вместо адреса указывают имя контейнера, где запущен сервер БД.
DB_PORT — порт, по которому Django будет обращаться к базе данных. 5432 — это порт по умолчанию для PostgreSQL.